/*
 * cmdrjs
 * Version 1.0.0-alpha
 * Copyright 2014 Shaftware.
 * All Rights Reserved.  
 * Use, reproduction, distribution, and modification of this code is subject to the terms and 
 * conditions of the MIT license, available at http://www.opensource.org/licenses/mit-license.php
 *
 * Project: https://github.com/shaftware/cmdrjs
 */

.cmdr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.9;
    overflow-y: auto;
    padding: 5px;
    color: #fff;
    font-family: "Courier New";
    font-size: 10pt;
}

.cmdr .input {
    position: relative;
    top: -1px;
}


.cmdr .input textarea {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
    resize: none;
    border: transparent 0 none;
    background: transparent;
    color: #fff;
    font-family: "Courier New";
    padding-top: 1px;
    margin: 0;
    width: 100%;
    overflow: auto;
    font-size: 10pt;
}

@-moz-document url-prefix() { 
  .cmdr .input textarea {
      padding-left: 1px;
  }
}

.cmdr .input textarea:focus {
    outline: none;
}

.cmdr .output {
    padding-left: 2px;
}

.cmdr .output span {
    white-space: pre;
}

.cmdr .output .warning {
    color: yellow;
}

.cmdr .output .error {
    color: red;
}
