.cmdr-shell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    overflow-y: auto;
    padding: 5px;
    color: #fff;
    font-family: "Courier New";
    font-size: 10pt;
    width: 100%;
    height: 100%;

    .input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;  
        position: relative;
    
        .prefix {
            display: inline-block;
        }

        .prompt {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;  
            padding: 0;
            margin: 0;
            width: 100%;
            overflow: auto;
            font-size: 10pt;
            position: absolute;
            left: 0;
            top: 0;
            word-break: break-all;
            outline: 0;
        }

        .prompt:focus {
            outline: none;
        }
    }

    .output {
        div {
            word-break: break-all;
        }

        span {
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap; 
            white-space: -o-pre-wrap; 
            white-space: pre-wrap; 
        }

        .success {
            color: #4cff00;
        }

        .warning {
            color: yellow;
        }

        .error {
            color: red;
        }        
    }
}